* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 1700px;
    height: 1000px;
    background-color: silver;
    border-radius: 20px;
    display: flex;

}
.box-1{
    width: 270px;
    height: 380px;
    background-color: white;
    margin-top: 300px;
    margin-left: 725px;
    border-radius: 3px;

}
.img{
    width: 250px;
    height: 150px;
    margin-top: 10px;

}
.text-2{
    font-size: 18px;
    margin: 10px;
    color: rgba(6, 7, 7, 0.367);
}
.box-2{
    background-color: rgb(56, 144, 165);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-top: 10px;
    margin-left: 10px;
    
}
.text-1{
    color: white;
    margin-left: 15px;
    padding-top: 10px;
}
.box-3{
    color: rgb(135, 137, 137);
    font-size: 21px;
    margin-left: 10px;
}
.box-4{
    margin-left:170px ;
}
.box-5{
    margin-left: 6px;
}
.box-6{
    margin-left:230px ;
    margin-top: -17px;
    color:rgb(135, 137, 137);
    font-size:21px ;
}
.box-7{
    margin-left: 50px;
    margin-top: -15px;
}


    

